---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PlantsWithGooglyEyes from "../components/PlantsWithGooglyEyes.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .plants-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      @media (max-width: 520px) {
        .title {
          font-size: 30px;
        }
      }
    </style></head
  >

  <body>
    <Header />
    <main>
      <div class="plants-wrapper">
        <h1 class="title">
          Could be a typo, could be me. Let's try the homepage.
        </h1>
        <PlantsWithGooglyEyes position="static" />
      </div>
    </main>
    <Footer />
  </body>
</html>
