<div class="plant-divider" role="presentation">
  <span class="plant-divider-line"></span>
  <svg
    viewBox="0 0 148 190"
    version="1.1"
	class="plant-divider-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
  >
    <g transform="matrix(1,0,0,1,-725.529,-714.127)">
      <g id="Layer3">
        <path
          d="M764.802,814.464C763.91,816.72 736.457,811.477 727.892,781.549C722.374,762.268 727.354,761.748 734.252,758.052C742.121,753.836 758.55,777.688 759.148,781.643C761.078,794.392 769.614,802.299 764.802,814.464Z"
          style="fill:rgb(18,87,60);"></path>
        <g transform="matrix(0.2487,1.11462,-1.2099,0.269959,1602.83,-254.916)">
          <path
            d="M764.802,814.464C763.91,816.72 736.457,811.477 727.892,781.549C722.374,762.268 731.45,759.382 738.348,755.687C746.218,751.47 765.268,775.95 765.867,779.905C767.797,792.654 769.614,802.299 764.802,814.464Z"
            style="fill:rgb(18,87,60);"></path>
        </g>
      </g>
      <g
        id="Layer31"
        transform="matrix(1.32691,0.288031,-0.288031,1.32691,10.5606,-478.976)"
      >
        <path
          d="M763.609,812.824C762.717,815.08 737.477,811.461 728.913,781.533C723.395,762.252 725.187,761.809 732.085,758.113C739.955,753.897 757.908,778.344 759.293,782.096C764.212,795.42 768.421,800.659 763.609,812.824Z"
          style="fill:rgb(18,87,60);"></path>
      </g>
      <g transform="matrix(1.12221,1.20729,-1.1272,1.19758,854.325,-1072.37)">
        <g id="Layer32">
          <path
            d="M763.609,812.824C762.717,815.08 731.24,809.263 726.129,778.556C722.942,759.415 725.082,758.223 734.006,756.197C742.713,754.221 757.908,778.344 759.293,782.096C764.212,795.42 768.421,800.659 763.609,812.824Z"
            style="fill:rgb(18,87,60);"></path>
        </g>
      </g>
      <g id="Layer2">
        <path
          d="M734.72,806.992C735.633,810.774 728.696,880.491 760.887,895.223C793.078,909.955 818.897,901.887 833.176,897.493C835.472,896.786 852.601,885.614 858.759,845.535C864.917,805.456 857.686,806.517 857.686,806.517C857.686,806.517 733.806,803.21 734.72,806.992Z"
          style="fill:rgb(180,96,96);"></path>
      </g>
      <g id="Layer4">
        <path
          d="M739.244,764.309C740.252,764.45 741.11,765.123 741.905,765.906C742.818,766.804 743.638,767.862 744.427,768.659C747.568,771.831 750.024,775.082 752.281,778.931C752.491,779.288 752.951,779.407 753.308,779.198C753.665,778.989 753.784,778.529 753.575,778.172C751.252,774.212 748.725,770.867 745.493,767.604C744.531,766.632 743.52,765.282 742.36,764.284C741.482,763.53 740.519,762.973 739.451,762.824C739.041,762.766 738.662,763.053 738.605,763.463C738.547,763.873 738.834,764.252 739.244,764.309Z"
          style="fill:rgb(239,255,233);"></path>
        <g transform="matrix(0.915875,0,0,1.07447,69.6406,-59.5585)">
          <path
            d="M801.26,802.547C801.725,802.407 802.188,802.036 802.577,801.507C803.219,800.634 803.723,799.284 804.103,798.713C806.065,795.771 808.564,793.195 810.263,790.082C817.431,776.941 824.32,762.397 825.048,747.117C825.26,742.666 826.523,736.403 825.291,732.104C824.844,730.543 824.072,729.229 822.869,728.296C821.647,727.348 819.976,726.777 817.692,726.777C816.346,726.777 815.073,727.126 813.84,727.674C812.151,728.425 810.33,729.22 808.929,730.465C806.912,732.258 805.517,734.648 803.756,736.66C800.927,739.894 798.654,743.765 796.339,747.366C792.361,753.554 789.387,760.601 787.076,767.532C783.468,778.356 782.959,788.673 782.959,800.003C782.959,800.388 783.326,800.701 783.778,800.701C784.23,800.701 784.597,800.388 784.597,800.003C784.597,788.806 785.086,778.61 788.652,767.914C790.929,761.083 793.855,754.135 797.776,748.037C800.054,744.492 802.284,740.678 805.069,737.495C806.79,735.528 808.14,733.184 810.111,731.432C811.386,730.298 813.06,729.595 814.598,728.911C815.589,728.471 816.609,728.173 817.692,728.173C819.484,728.173 820.809,728.585 821.767,729.328C822.744,730.086 823.337,731.168 823.7,732.436C824.9,736.623 823.618,742.724 823.412,747.06C822.693,762.154 815.858,776.512 808.777,789.493C807.098,792.572 804.619,795.114 802.679,798.024C802.353,798.512 801.937,799.574 801.421,800.418C801.279,800.65 801.13,800.864 800.968,801.032C800.883,801.121 800.809,801.202 800.713,801.231C800.287,801.359 800.064,801.759 800.215,802.122C800.365,802.485 800.834,802.675 801.26,802.547Z"
            style="fill:rgb(239,255,233);"></path>
        </g>
        <path
          d="M766.51,746.117C768.861,747.42 770.29,749.659 771.279,752.163C772.318,754.793 772.87,757.718 773.409,760.263C775.543,770.354 776.474,780.553 776.899,790.84C776.916,791.254 777.266,791.576 777.68,791.559C778.093,791.541 778.415,791.192 778.398,790.778C777.969,780.408 777.028,770.126 774.876,759.953C774.322,757.331 773.744,754.321 772.675,751.612C771.555,748.779 769.897,746.279 767.237,744.805C766.875,744.605 766.418,744.736 766.217,745.098C766.017,745.46 766.148,745.917 766.51,746.117Z"
          style="fill:rgb(239,255,233);"></path>
        <path
          d="M867.678,775.273C867.719,775.536 867.9,775.77 868.169,775.865C868.655,776.038 868.928,775.796 869.067,775.619C869.176,775.48 869.319,775.215 869.172,774.83C869.127,774.711 868.995,774.486 868.765,774.206C868.381,773.739 867.676,773.018 866.827,772.333C865.546,771.299 863.936,770.386 862.591,770.386C861.249,770.386 859.652,771.207 858.09,772.365C855.963,773.943 853.867,776.12 852.571,777.146C842.969,784.748 834.833,794.423 824.821,801.431C824.482,801.669 824.4,802.137 824.637,802.476C824.874,802.815 825.342,802.898 825.681,802.66C835.717,795.636 843.877,785.942 853.502,778.322C854.79,777.302 856.871,775.138 858.984,773.57C860.248,772.632 861.505,771.886 862.591,771.886C863.649,771.886 864.877,772.687 865.885,773.5C866.643,774.111 867.408,774.963 867.678,775.273ZM868.635,774.44L868.671,774.452C868.659,774.448 868.647,774.444 868.635,774.44Z"
          style="fill:rgb(239,255,233);"></path>
      </g>
    </g>
  </svg>

  <span class="plant-divider-line"></span>
</div>
<style>
  .plant-divider {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 2.5rem 0;
  }

  .plant-divider-line {
    flex: 1;
    height: 1px;
    background: rgba(var(--text-primary), 0.12);
  }

  .plant-divider-icon {
    flex: 0 0 auto;
    width: 20px;
    height: auto;
    display: block;
  }
</style>
