---
const { size = "large" } = Astro.props;
---

<span class="tag" data-size="small"><slot /></span>
<style>
  .tag {
    font-size: 11px;
    padding: 2px 9px;
    border-radius: 999px;
    border: 1px solid var(--accent-dark);
    color: var(--accent-dark);
  }
</style>
