---
const { size = "small" } = Astro.props;
---

<span class="tag" data-size={size}><slot /></span>
<style>
  .tag {
    border-radius: 999px;
    border: 1px solid var(--accent-dark);
    color: var(--accent-dark);
  }
  .tag[data-size="small"] {
    font-size: 11px;
    padding: 2px 9px;
  }
  .tag[data-size="large"] {
    font-size: 14px;
    padding: 4px 14px;
  }
</style>
